<p>If you use the MMWorld dataset, we ask that you cite these two publications:</p>


<pre><code>@article{he2024mmworld,
    title   = {MMWorld: Towards Multi-discipline Multi-faceted World Model Evaluation in Videos},
    author  = {Xuehai He and Weixi Feng and Kaizhi Zheng and Yujie Lu and Wanrong Zhu and Jiachen Li and Yue Fan and Jianfeng Wang and Linjie Li and Zhengyuan Yang and Kevin Lin and William Yang Wang and Lijuan Wang and Xin Eric Wang},
    year    = {2024},
    journal = {arXiv preprint arXiv: 2406.08407}
}
</code>